<%=render 'layouts/doctor_layout'%>

<h4>My Profile</h4>
<table>
  <tr>
    <td>Name:</td>
    <td><%= @doctor.name %></td>
  </tr>
  <tr>
    <td>Degree:
    <td>
    <td><%= @doctor.degrees %></td>
  </tr>
  <tr>
    <td>email:</td>
    <td><%= @user.email%></td>
  </tr>
</table>
